default_stages: ['pre-commit']
fail_fast: false

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '.*\.txt$'
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=2000']
        exclude: '.*\.(csv|jsonl)$'
      - id: check-added-large-files
        name: check-large-csv-jsonl
        args: ['--maxkb=20480']
        files: '.*\.(csv|jsonl)$'
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Backend hooks
  # Ruff (as linter, formatter and import organizer)
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff-format
        args: ["--line-length=120"]
        files: ^backend/.*\.py$
      - id: ruff
        args: ["--fix", "--line-length=120", "--select=E,F,I"]
        files: ^backend/.*\.py$

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        additional_dependencies:
          - fastapi
          - pydantic
          - types-requests

  # Frontend hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.23.0
    hooks:
      - id: eslint
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        additional_dependencies:
          - eslint@9.23.0
          - eslint-plugin-react@7.33.2
          - eslint-plugin-react-hooks@4.6.0
          - eslint-config-next@13.4.19
          - typescript@5.1.6
          - '@typescript-eslint/eslint-plugin@6.4.0'
          - '@typescript-eslint/parser@6.4.0'
        args:
          - --fix
          - --config
          - frontend/eslint.config.mjs

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier
        language: system
        files: ^.*$
        exclude: '.*(\.ipynb|\.csv)$'
        types_or: [javascript, json]
        entry: |
          bash -c 'npm --prefix frontend run format "${@#*/}"' --

  # Tests hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend tests
        entry: bash -c "cd backend && uv run pytest -xvs"
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: ['pre-push']

      - id: frontend-tests
        name: Frontend tests
        entry: bash -c "cd frontend && npm test -- --passWithNoTests"
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        stages: ['pre-push']
