fastapi==0.115.8
loguru==0.7.2
uvicorn==0.34.0
pydantic==2.10.6
requests==2.32.3
babel==2.17.0
httpx==0.28.1
pandas==2.3.1
pytest==8.3.4
tox==4.24.1
pre-commit==4.1.0
pytest-asyncio==0.25.3
mypy==1.15.0