@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

/** Themes variables Tailwind **/

@theme inline {
  /* Color */
  --color-white: #ffffff;
  --color-grey: #f2f1f1;
  --color-grey-2: #b3b3b3;
  --color-black: #242233;
  --color-violet: #d3cdff;

  --color-pink-1: #ffe9e9;
  --color-pink-2: #ffc3c3;
  --color-pink-3: #ff584b;
  --color-brown: #3c1212;

  /* Typography */
  --font-albert-sans: 'Albert Sans';

  /* Font-size Desktop */
  --text-h1-desktop: 38px;
  --text-h2-desktop: 32px;
  --text-h3-desktop: 26px;
  --text-numbers-desktop: 150px;

  /* Font-size Mobile */
  --text-h1: 32px;
  --text-h2: 26px;
  --text-h3: 20px;
  --text-numbers: 90px;

  /* Default Font-size */
  --text-lead: 18px;
  --text-body: 16px;
  --text-caption: 12px;
  --spacing-section: 56px 32px 56px 32px;
}

html {
  scroll-behavior: smooth;
}

/** -------------------------typography------------------------- **/

h1,
h2,
h3,
h4,
.numbers,
.primary-button,
.secondary-button,
.lead,
.body,
.caption {
  font-family:
    Albert Sans,
    sans-serif;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}

/* Automatique font-size */

h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
h4 {
  font-size: var(--text-h4);
}
.numbers {
  font-size: var(--text-numbers);
}
.button {
  font-size: var(--text-button);
}
.lead {
  font-size: var(--text-lead);
}
.body {
  font-size: var(--text-body);
}
.caption {
  font-size: var(--text-caption);
}

@media (width >= 640px) {
  h1 {
    font-size: var(--text-h1-desktop);
  }
  h2 {
    font-size: var(--text-h2-desktop);
  }
  h3 {
    font-size: var(--text-h3-desktop);
  }
  h4 {
    font-size: var(--text-h4-desktop);
  }
  .numbers {
    font-size: var(--text-numbers-desktop);
  }
  .button {
    font-size: var(--text-button-desktop);
  }
  .lead {
    font-size: var(--text-lead-desktop);
  }
  .body {
    font-size: var(--text-body-desktop);
  }
  .caption {
    font-size: var(--text-caption-desktop);
  }
}

/** -------------------------button------------------------- **/

.primary-button {
  padding: 16px 0px 16px 0px;
  background-color: var(--color-pink-3);
  box-shadow: 0 5px 0 0 #ff7b7b;
  font-size: var(--text-button);
  border-radius: 10px;
  text-align: center;
  flex: content;
  justify-content: center;
  align-items: center;
}

.primary-button:hover {
  background-color: var(--color-violet);
  box-shadow: 0 5px 0 0 var(--color-violet);
  transition: all ease-in-out;
}

.secondary-button {
  padding: 16px 0px 16px 0px;
  background-color: none;
  border: solid, 2px, var(--color-pink-3);
  /* box-shadow: 0 5px 0 0 #FF7B7B; */
  font-size: var(--text-button);
  color: var(--color-pink-3);
  border-radius: 10px;
  text-align: center;
  flex: content;
  justify-content: center;
  align-items: center;
}

.secondary-button:hover {
  background-color: var(--color-violet);
  border: solid, 2px, var(--color-violet);
  color: var(--color-black);
  transition: all ease-in-out;
}

.tertiary-button {
  padding: 16px 0px 16px 0px;
  background-color: var(--color-white);
  border: solid, 2px, var(--color-white);
  box-shadow: 0 5px 0 0 var(--color-black);
  font-size: var(--text-button);
  color: var(--color-black);
  border-radius: 10px;
  text-align: center;
  flex: content;
  justify-content: center;
  align-items: center;
}

.tertiary-button:hover {
  background-color: var(--color-violet);
  border: solid, 2px, var(--color-violet);
  color: var(--color-black);
  transition: all ease-in-out;
}
