@import 'tailwindcss';
/*@source inline("border-{grey,brown,pink-{1..3},violet-{1..2}}");*/

:root {
  /** colors **/
  --white: #ffffff;
  --grey: #f9f9f9;
  --pink-1: #ffe9e9;
  --pink-2: #ffc3c3;
  --pink-3: #ff7b7b;
  --brown: #3c1212;
  --violet-1: #e7e4ff;
  --violet-2: #b5abff;

  /** typography **/
  /*
    Following fonts vars are overridden at runtime by Next.js
    See app/layout.tsx
    we declare them to don't have IDE error
  */
  --font-albert-sans: 'Albert Sans';
  --font-azeret-mono: 'Azeret Mono';

  --primary-font: var(--font-albert-sans);
  --secondary-font: var(--font-azeret-mono);
  font-family: var(--primary-font), sans-serif;
  --h1-font-size: 47px;
  --h2-font-size: 39px;
  --h3-font-size: 31px;
  --h4-font-size: 16px;
  --h5-font-size: 12px;
  --numbers-font-size: 28px;
  --button-font-size: 16px;
  --lead-font-size: 22px;
  --body-font-size: 16px;
  --caption-font-size: 12px;

  /** margin & padding **/
  --section-padding: 80px 50px 80px 50px;
}

/** declare colors to be used in tailwind **/
@theme inline {
  --color-grey: var(--grey);
  --color-pink-1: var(--pink-1);
  --color-pink-2: var(--pink-2);
  --color-pink-3: var(--pink-3);
  --color-brown: var(--brown);
  --color-violet-1: var(--violet-1);
  --color-violet-2: var(--violet-2);
}

html {
  scroll-behavior: smooth;
}

/** -------------------------colors------------------------- **/
.light-text {
  color: var(--pink-2);
}

.dark-text {
  color: var(--brown);
}

/*.border-grey {*/
/*    border-color: var(--grey);*/
/*}*/
/*.border-pink-1 {*/
/*    border-color: var(--pink-1);*/
/*}*/
/*.border-pink-2 {*/
/*    border-color: var(--pink-2);*/
/*}*/
/*.border-pink-3 {*/
/*    border-color: var(--pink-3);*/
/*}*/
/*.border-brown {*/
/*    border-color: var(--brown);*/
/*}*/
/*.border-violet-1 {*/
/*    border-color: var(--violet-1);*/
/*}*/
/*.border-violet-2 {*/
/*    border-color: var(--violet-2);*/
/*}*/

.divide-pink-3 {
  :where(& > :not(:last-child)) {
    border-color: var(--pink-3);
  }
}

/** -------------------------typography------------------------- **/

h1,
h2,
h3,
h4,
h5,
.numbers,
.primary-button,
.secondary-button {
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lead,
.body,
.caption {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

.numbers {
  font-size: var(--numbers-font-size);
}

.button {
  font-size: var(--button-font-size);
}

.lead {
  font-size: var(--lead-font-size);
}

.body {
  font-size: var(--body-font-size);
}

.caption {
  font-size: var(--caption-font-size);
}


/** -------------------------margin&padding------------------------- **/

.section-padding{
  padding : var(--section-padding);
}

/** -------------------------button------------------------- **/

.primary-button{
  padding: 16px;
  background-color: var(--pink-3);
  box-shadow: 0 5px 0 0 black;
  font-size : var(--button-font-size);
  border-radius: calc(infinity * 1px);
  text-align: center;
  flex: content;
  justify-content: center;
  align-items: center;
}

.primary-button:hover{
  background-color : var(--pink-1);
  box-shadow: 0 2px 0 0 black;
  transition:all ease-in-out;
}

.secondary-button{
  padding: 16px;
  background-color: var(--grey);
  box-shadow: 0 5px 0 0 black;
  font-size : var(--button-font-size);
  border-radius: calc(infinity * 1px);
  text-align: center;
  flex: content;
  justify-content: center;
  align-items: center;
}

.secondary-button:hover{
  background-color : var(--pink-1);
  box-shadow: 0 2px 0 0 black;
  transition:all ease-in-out;
}
