@import 'tailwindcss';

:root {
    --grey: #F9F9F9;
    --pink-1: #FFE9E9;
    --pink-2: #FFC3C3;
    --pink-3: #FF7B7B;
    --brown: #3C1212;
    --violet-1: #E7E4FF;
    --violet-2: #B5ABFF;
}


html {
    scroll-behavior: smooth;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-pink-1 {
    background-color: var(--pink-1);
}

.bg-pink-2 {
    background-color: var(--pink-2);
}

.bg-pink-3 {
    background-color: var(--pink-3);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-violet-1 {
    background-color: var(--violet-1);
}

.bg-violet-2 {
    background-color: var(--violet-2);
}

.text-grey {
    color: var(--grey);
}

.text-pink-1 {
    color: var(--pink-1);
}

.light-text, .text-pink-2 {
    color: var(--pink-2);
}

.text-pink-3 {
    color: var(--pink-3);
}

.dark-text, .text-brown {
    color: var(--brown);
}

.text-violet-1 {
    color: var(--violet-1);
}

.text-violet-2 {
    color: var(--violet-2);
}

.border-grey {
    border-color: var(--grey);
}

.border-pink-1 {
    border-color: var(--pink-1);
}

.border-pink-2 {
    border-color: var(--pink-2);
}

.border-pink-3 {
    border-color: var(--pink-3) !important;
}

.border-brown {
    border-color: var(--brown);
}

.border-violet-1 {
    border-color: var(--violet-1);
}

.border-violet-2 {
    border-color: var(--violet-2);
}
