.panel-content a {
    color: #f97316; /* Orange-500 de Tailwind */
    text-decoration: underline;
}

.panel-content a:hover {
    color: #ea580c; /* Orange-600 de Tailwind */
}

.panel-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.panel-content li {
    margin-bottom: 0.25rem;
}
